.contacts{
    margin-top:64px;
    

    &__links{
        display: flex;
        list-style-type: none;
        a{
            @include font-link;
            margin-right:16px;
        }

        @media screen and (max-width: 600px){
            justify-content: flex-start;
            padding:0;
            a{
                margin-right:16px;
            }
        }  
    }
}