@use '../base/typography';

.description{
    &__header{
        @include font-display-3;
        margin-bottom:8px;
    }
    &__text{
        @include font-body;
        margin-bottom:32px;
    }

    &__link{
        display:flex;
        justify-content: space-around;
        &--contact{
            @include font-link;
            background:hsla(262, 67%, 52%, 0.849);
            padding:8px 16px 8px 16px;
            border-radius: 10px;
            -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box;    /* Firefox, other Gecko */
            box-sizing: border-box;         /* Opera/IE 8+ */
        

            &:hover{
                border:1px solid hsl(261, 54%, 68%);
            }
        }
        
        &--cv{
            @include font-link--secondary;
        
            &:hover{
                color:whitesmoke;
            }
        }
    }
}


@keyframes wave-animation {
    0% { 
        transform: rotate(0.0deg);
        opacity:0;
    }
    10% { 
        transform: rotate(-10.0deg) 
    }
    20% { 
        transform: rotate( 12.0deg) 
    }
    30% { 
        transform: rotate(-10.0deg) 
    }
    40% { 
        transform: rotate(  9.0deg) 
    }
    50% { 
        transform: rotate(  0.0deg) 
    }
    100% { 
        transform: rotate(  0.0deg);
        opacity:1 
    }
}
