
/*  
    ******
    FONT AND TYPO STUFF
    ******
*/

$font-family:               acumin-pro, sans-serif;

$font-size-xl:              3rem;
$font-size-l:               2rem;
$font-size-m:               1.5rem;
$font-size-sm:              1rem;
$font-size-xs:              0.8rem;

$font-weight-extrabold:     700;
$font-weight-bold:          600;
$font-weigth-semibold:      500;
$font-weight-regular:       400;
$font-weight-light:         300;

$line-hegiht-:              1.2;



/*  
    ******
    COLORS
    ******
*/
$color-white: #d9d7e0;
$color-black: #d9d7e0;
$color-primary:white;
$color-secondary:white;

$color-link: #d9d7e0;
$color-link-hover: #d9d7e0;

$color-button: #d9d7e0;
$color-button-hover: #d9d7e0;

$gradient-:white;


/*  
    ******
    BREAKPOINTS // MEDIA QUERIES
    ******
*/

$vp-large: 1000px;
$vp-small: 600px;


/*  
    ******
    SPACING
    ******
*/