@use '../variables/variables';
@use 'mixins';


body {
    color: variables.$color-white;
}


html {
    font-family: variables.$font-family;
    @include mixins.fluid-font-size(18px, 21px);
    text-size-adjust: none; //disable the text inflation algorithm used on some smartphones and tablets
}

@mixin font-display-1 {
    font-family: variables.$font-family;
    font-size: variables.$font-size-xl;
    margin-bottom: 8px;
    font-weight: 600;
}

@mixin font-display-2 {
    font-family: variables.$font-family;
    font-size: variables.$font-size-l;
    color: variables.$color-secondary;
}

@mixin font-display-3 {
    font-family: variables.$font-family;
    font-size: variables.$font-size-sm;
    color: variables.$color-secondary;
    font-weight: 600;
}


@mixin font-body {
    font-family: variables.$font-family;
    font-size: variables.$font-size-m;
    line-height: 1.5;
    font-weight: variables.$font-weight-light;
    //font-size:variables.$font-size-l;
}

@mixin font-link {
    font-family: variables.$font-family;
    font-size: variables.$font-size-sm;
    text-decoration: none;
    margin: 4px;
    color: variables.$color-link;
    font-weight: 600;
}

@mixin font-link-secondary {
    font-family: variables.$font-family;
    font-size: variables.$font-size-sm;
    text-decoration: none;
    margin: 4px;
    color: variables.$color-link;
    font-weight: 500;

    &:hover {
        transform: scale(1.01);
        color: variables.$color-link-hover;
    }
}

@mixin font-secondary {
    font-family: variables.$font-family;
    font-size: variables.$font-size-xs;
    font-weight: 300;
    color: variables.$color-footer;
}

.highlight {
    background: linear-gradient(hsla(0, 0, 0, 0) 70%, rgba(77, 126, 224, 0.671) 30%);
}